*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45)), url(img/bg.jpeg);
    background-position: center;
    background-size: cover;
}

.navbar {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #22222244;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.brand img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: all .3s ease-in-out;
}

.brand img:hover{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.brandName{
    font-family: "Pacifico", cursive;
    color: #f3f3f3;
    font-weight: 700;
    padding-left: 20px;
}

.brandName span{
    font-family: "Pacifico", cursive;
    color: crimson;
    font-weight: 450;
    padding-left: 5px;
}

/* Start Navigasi */
.navigasi{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navigasi li{
    list-style: none;
    padding: 30px;
}

.navigasi li a{
    font-family: "Poppins", sans-serif;
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
}

.navigasi li a:hover {
    color: crimson;
    border-bottom: 1px solid crimson;
    transition: all .3s ease-in-out;
}
/* End Navigasi */

/* Start Content */
.container .content{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #f9f9f9;
}

/* Content Profile */
.containerProfile{
    min-height: 100%;
}
.containerProfile .contentProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.containerProfile .box .headerContent{
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-left: 20px;
    color: crimson;
    font-family: "Pacifico", cursive;
    border-bottom: none;
    padding-left: 0px;
    font-weight: 800;
}

.containerProfile .box .lastheaderContent{
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 15px;
    margin-left: 10px;
    color: #f9f9f9;
    display: flex;
    font-family: "Poppins", sans-serif;
    border-bottom: none;
    font-weight: 500;
}

.containerProfile .box .contentP{
    font-size: 15px;
    margin-left: 20px;
    color: #f9f9f9;
}

.containerProfile .contentProfile .imgProfile{
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 20px;
}

/* End Content Profile */

/* Content About */
.contentAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerContent{
    font-family: "Poppins", sans-serif;
    padding-bottom: 3px;
    border-bottom: 5px solid black;
    margin-bottom: 15px;
}

.contentAbout .aboutImg{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.aboutImg .foto1{
    margin: 5px 0px;
    width: 150px;
    border-radius: 0px 100px 0px 100px;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
}

.aboutImg .foto2{
    margin: 5px 0px;
    width: 150px;
    border-radius: 100px 0px 100px 0px;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
}

.name{
    font-family: "Whisper", cursive;
    font-weight: 400;
}

.contentAbout p{
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    width: 65%;
}
/* End Content About */

/* Content Sosmed */
.contentSosmed{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerItem{
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
}

.blog{
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 5px 11.5rem;
    margin: 10px 0 10px 50px;
}

.blog img{
    margin-top: 20px;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
}

/* .blog p{
    margin: 0 0 30px 0;
} */

.ig{
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 5px 13.5rem;
    margin: 10px 0 10px 50px;
}

.ig img{
    margin-top: 20px;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
}

/* .ig p{
    margin: 0 0 20px 0;
} */

.button{
    margin-top: 20px;
    display: inline-block;
    background-color: #00468869;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
}

.button:hover{
    background-color: #01a1d6;
    transform: scale(1.1);
}
/* End Content Sosmed */

/* Content Contact */
.contentContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentContact p{
    font-size: 15px;
}

.containerContact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.containerContact .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.containerContact .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex; 
}

.containerContact .contactInfo .box .icon img{
    min-width: 60px;
    height: 60px;
    background: #0260b8b6;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    font-size: 15px;
    padding: 15px;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 30%;
    padding: 30px;
    background-color: #00468869;
    border-radius: 5px;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
}

.contactForm h2{
    font-size: 24px;
    font-style: italic;
    color: #f9f9f9;
    font-weight: 500;
}

.contentContact p{
    width: 75%;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: #f9f9f9;
    font-size: 12px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    color: #f9f9f9;
    background: none;
    width: 100%;
    padding: 5px 0px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #555;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0px;
    font-size: 15px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #f9f9f9;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: crimson;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background-color: #004777;
    color: #f9f9f9;
    border: none;
    cursor: pointer;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.contactForm .inputBox input[type="submit"]:hover{
    background-color: #01a1d6;
    transform: scale(1.1);
}
/* End Content */

/* Start Footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: #333;
    width: 100%;
    height: 55px;
    font-size: 12px;
    box-shadow: 0 7px 15px 10px rgba(0, 0, 0, 0.5);
}
/* End Footer */

